In [1]:
import pandas as pd
import numpy as np

In [3]:
dic = {'Civic': [np.nan, 'V-tec', 'Gasolina'], 'Corsa':[2010, np.nan, 'Flex']}
dic

{'Civic': [nan, 'V-tec', 'Gasolina'], 'Corsa': [2010, nan, 'Flex']}

In [4]:
df = pd.DataFrame(dic)
df

      Civic Corsa
0       NaN  2010
1     V-tec   NaN
2  Gasolina  Flex

In [5]:
#remove as linhas com valores nan
df.dropna()

      Civic Corsa
2  Gasolina  Flex

In [8]:
#substitui os valores Nan por algo pre determinado
df['Civic'].fillna(value='Nao informado')

0    Nao informado
1            V-tec
2         Gasolina
Name: Civic, dtype: object