In [1]:
import numpy as np
import pandas as pd

In [8]:
#criacao de um indice composto
outside = ['Time', 'Time', 'Time', 'Selecao', 'Selecao', 'Selecao']
inside = ['Liga Nacional', 'Copa Nacional', 'Copa Europeia', 'Olimpiadas', 'Copa Continental', 'Copa do Mundo']
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
outside

['Time', 'Time', 'Time', 'Selecao', 'Selecao', 'Selecao']

In [10]:
inside

['Liga Nacional',
 'Copa Nacional',
 'Copa Europeia',
 'Olimpiadas',
 'Copa Continental',
 'Copa do Mundo']

In [11]:
hier_index

MultiIndex([(   'Time',    'Liga Nacional'),
            (   'Time',    'Copa Nacional'),
            (   'Time',    'Copa Europeia'),
            ('Selecao',       'Olimpiadas'),
            ('Selecao', 'Copa Continental'),
            ('Selecao',    'Copa do Mundo')],
           )

In [15]:
#exemplo de tabela com indice composto
df = pd.DataFrame(np.zeros((6,2)), index=hier_index, columns=['Messi','CR7'])

In [16]:
df

                          Messi  CR7
Time    Liga Nacional       0.0  0.0
        Copa Nacional       0.0  0.0
        Copa Europeia       0.0  0.0
Selecao Olimpiadas          0.0  0.0
        Copa Continental    0.0  0.0
        Copa do Mundo       0.0  0.0

In [18]:
df.index.names = ['Organizacao', 'Titulos']
df

                              Messi  CR7
Organizacao Titulos
Time        Liga Nacional       0.0  0.0
            Copa Nacional       0.0  0.0
            Copa Europeia       0.0  0.0
Selecao     Olimpiadas          0.0  0.0
            Copa Continental    0.0  0.0
            Copa do Mundo       0.0  0.0