In [1]:
import numpy as np
import pandas as pd

In [29]:
#le um arquivo nos padroes csv e o transforma num dataframe
df = pd.read_csv('exemplo.txt')

In [30]:
df

     Carro      Km   Ano      Cor
0    Civic   20000  2022   Branco
1    Jetta  300000  2010    Preto
2  Corolla   75000  2019    Prata

In [32]:
#salva o df no formato csv
df.to_csv("exemplo.csv", sep=';', decimal=',')

In [34]:
#salva o df no formato xlsx
df.to_excel("exemplo.xlsx", sheet_name='sheet1')

In [8]:
#le um arquivo html e extrai informacoes
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [11]:
df[0]['Bank NameBank']

0      Republic First Bank dba Republic Bank
1                              Citizens Bank
2                   Heartland Tri-State Bank
3                        First Republic Bank
4                             Signature Bank
                       ...
564                       Superior Bank, FSB
565                      Malta National Bank
566          First Alliance Bank & Trust Co.
567        National State Bank of Metropolis
568                         Bank of Honolulu
Name: Bank NameBank, Length: 569, dtype: object